<h4>{{question.query}} -  from: {{fullName}}</h4>
<h5>additional notes: {{question.notes}}</h5>
<button {{action 'delete' question}}>Delete</button>
<hr>
<h2>Answers</h2>
{{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
{{/each}}
