{{question.query}} -  from: {{question.author}}
<p>additional notes: {{question.notes}}</p>
<button {{action 'delete' question}}>Delete</button>
<hr>
<h2>Answers</h2>

  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
