{{question.query}}<p>from: {{question.author}}</p>
<p>additional notes:</p>
<p>{{question.notes}}</p>
<button {{action 'delete' question}}>Delete</button>
<hr>
<h2>Answers</h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
